body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f5f8;
  text-transform: capitalize;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 225px;
  height: 175px;
  border: 8px solid #c59d5f;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  padding: 10px 16px;
  text-transform: inherit;
  font-size: larger;
  border: none;
  background-color: transparent;
  letter-spacing: 1px;
  margin: 2rem 1rem;
  color: #c59d5f;
}

button:hover {
  background-color: #c59d5f;
  color: white;
  cursor: pointer;
}

.title {
  margin: 5rem 0 2rem 0;
}

.title h1 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.85);
  margin: 0;
}

.title hr {
  width: 5%;
  height: 5px;
  border: none;
  background-color: #c59d5f;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  text-align: center;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu {
  display: flex;
  margin: 1.5rem;
  grid-column: span 1;
  grid-row: span 1;
}

.menu .menu-title {
  color: rgba(0, 0, 0, 0.85);
}

.menu .price {
  color: #c59d5f;
}

.menu p {
  color: rgba(0, 0, 0, 0.65);
  text-transform: none;
}

.menu h3 {
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

.menu hr {
  border: 1px dotted rgba(0, 0, 0, 0.2);
}

.menu-text {
  text-align: left;
  width: 350px;
  margin: 0 1rem;
}

.menu-text-flex {
  display: flex;
  justify-content: space-between;
}
